.tabs > div {
    font-weight: bold;
    background-color: #fff;
    padding: 10px 20px;
    width: 100%;
    cursor: pointer;
}

.tabs > div:hover {
    background-color: #ccc;
}

.tabs > div:first-child {
    margin-right: 10px;
}

.section-display {
    padding: 5px 20px;
}

.withdraw-page button {
    background-color: #6dbad3;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.with-form {
    border: 2px solid #999;
}

.deposit-btn {
    background: #6dbad3;
    margin-left: 10px;
    padding: 10px;
    cursor: pointer;
}

.deposit-btn:hover {
    background: lightblue;
}