.side-nav {
    background-color: #465775;
    height: 100vh;
    padding: 20px;
}

.logo {
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
    padding-bottom: 20px;
    border-bottom: 1.4px solid #ffffff6b;
}

.links a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    /* color: #fff; */
    font-weight: 500;
    outline-color: #fff;
    color: #fff;
    border-radius: 5px;
}

.links a i {
    margin-right: 20px;
}

.links a:hover, .active {
    background: #59C9A5;
    color: #000;
}