* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Karla', Arial, 'Gill Sans MT', Calibri, 'Trebuchet', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-search {
  font-size: 9px;
}


header {
  background-color: #123;
  color: #fff;
  padding: 10px;
  font-size: 17px;
}

button {
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.wrapper {
  background: #fff;
  padding: 30px;
  margin: 20px;
  box-shadow: 0 0 6px 2px #aeaeae41;
  border-radius: 20px;
}

.form {
  width: fit-content;
  margin: 0 auto;
}

.wrapper h1 {
  text-align: center;
  border-bottom: 2px solid #184a70;
  padding: 10px;
  color: #00a76c;
  width: 300px;
  margin: 0 auto;
}

.steps {
  margin: 20px 0;
  font-weight: bold;
}

.success-msg {
  padding: 20px;
  background: #079e3ea6;
  width: 400px;
  margin-bottom: 20px;
  color: #fff;
  border-radius: 5px;
}

.error-msg {
  padding: 20px;
  background: #a30c07a6;
  width: 400px;
  margin-bottom: 20px;
  color: #fff;
  border-radius: 5px;
}

.torchBtn {
  padding: 10px;
  margin-top: 3px;
  background: #184a70;
  color: #fff;
}

.close-btn {
  cursor: pointer;
}

.amount-display {
  text-align: center;
  COLOR: #979797;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  padding: 10px;
  font-size: 15px;
  border: none;
  font-family: inherit;
  outline: none;
}

@media(max-width: 768px) {
  .form {
    flex-direction: column;
  }
  .side-nav {
    display: none;
  }
}