* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Lato', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: #123;
  color: #fff;
  padding: 10px;
  font-size: 17px;
}

.button {
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}
